<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-info text-white">
          update FORM
        </div>
        <div class="card-body">
          <form method='POST', action = "" >
            <div class="form-group">
            
             
                    <input hidden type="text" class="form-control" name='id' id="name" value = {{ y[0] }} placeholder="id">

                    <input type="text" class="form-control" name='name' id="name" value = {{ y[1] }} placeholder="Enter full name">
                    </div>
                    <div class="form-group">
                    <label for="email_address">Email Address</label>
                    <input type="email" class="form-control" id="email" name='email' value = {{ y[2] }} placeholder="Enter email address">
                    </div>
                    <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <input type="tel" class="form-control" id="phone_number" name='phone_number' value = {{ y[3] }} placeholder="Enter phone number">
                    </div>
                    <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <input type="text" class="form-control" id="nationality" name='nationality' value = {{ y[4] }} placeholder="Enter nationality">
                    </div>
                    <div class="form-group">
                    <label for="time_to_travel">Time to Travel (in days)</label>
                    <input type="number" class="form-control" name='time_to_travel' value = {{ y[5] }} id="time_to_travel">
                    </div>
                    <div class="form-group">
                    <label>Interests</label><br>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name = "interests" value = {{ y[6] }} id="adventure">
                    <label class="form-check-label" for="adventure">Adventure</label>

                    <input class="form-check-input" type="checkbox" name = "interests" value = {{ y[6] }} id="wildelife">
                    <label class="form-check-label" for="wildelife">wildelife</label>

                    <input class="form-check-input" type="checkbox" name = "interests" value="Family Friendly" id="Family">
                    <label class="form-check-label" for="Family ">Family Friendly</label>

                    <input class="form-check-input" type="checkbox" name = "interests" value="Romantic Gateway" id="romantic">
                    <label class="form-check-label" for="romantic">Romantic Gateway</label>

                    <input class="form-check-input" type="checkbox" name = "interests" value="Photo Safari" id="Safari">
                    <label class="form-check-label" for="Safari">Photo Safari</label>
                    
                    <input class="form-check-input" type="checkbox" name = "interests" value="Big 5 Safaries" id="Big">
                    <label class="form-check-label" for="Big">Big 5 Safaries</label>

                    <input class="form-check-input" type="checkbox" name = "interests" value="Honeymoon" id="Honeymoon">
                    <label class="form-check-label" for="Honeymoon">Honeymoon</label>
                    
                    <input class="form-check-input" type="checkbox" name = "interests" value="trekking" id="trekking">
                    <label class="form-check-label" for="trekking">trekking</label>

                    </div>
                    <!-- Add more checkboxes for other interests -->
                    </div>
                    <div class="form-group">
                    <label for="adults">Adults Traveling</label>
                    <input type="number" class="form-control" name='adults' value = {{ y[7] }} id="adults">
                    </div>
                    <div class="form-group">
                    <label for="children">Children</label>
                    <input type="number" class="form-control" name='children' value = {{ y[8] }} id="children">
                    </div>
                    <div class="form-group">
                    <label for="accommodation">Accommodation</label><br>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name = "accommodation" value="Luxury" id="luxury">
                    <label class="form-check-label" for="luxury">Luxury</label>
                    <input class="form-check-input" type="checkbox" name = "accommodation" value="midrange" id="midrange">
                    <label class="form-check-label" for="midrange">midrange</label>

                    <input class="form-check-input" type="checkbox" name = "accommodation" value="Budget/Camping" id="Camping">
                    <label class="form-check-label" for="Camping">Budget/Camping</label>
                    </div>
                    <!-- Add more checkboxes for other accommodation options -->
                    </div>
                    <div class="form-group">
                    <label for="tour_type">Tour Type</label><br>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="tour_type" id="private_tour" value="private tour">
                    <label class="form-check-label" for="private_tour">Private Tour</label>
                    <input class="form-check-input" type="radio" name="tour_type" id="family_tour" value="Family tour">
                    <label class="form-check-label" for="family_tour">Family Tour</label>
                    <input class="form-check-input" type="radio" name="tour_type" id="group_join" value="group join">
                    <label class="form-check-label" for="group_join">goup join</label>
                    </div>
                    <!-- Add more radio buttons for other tour types -->
                    </div>
                    <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" value = {{ y[11] }} name="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                 
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
